<h4 class="text-center">login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <input
      class="form-control"
      placeholder="Nome do usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuario obrigatório"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha Obrigatória"
    >
    </app-mensagem>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">
      Login
    </button>
  </div>
</form>

<p>Não é usuário? <a [routerLink]="['novousuario']">Se cadastre!</a></p>
