<header>
  <div class="caixa">
      <h1><img src ="../assets/img/logo.png" alt="Logo da Barbearia Alura"> </h1>
        <nav>
            <ul>
                <li><a routerLink="home"> Home</a></li>
                <li><a routerLink="produtos"> Produtos</a></li>
                <li><a routerLink="contatos"> Contato</a></li>
            </ul>
        </nav>
   </div>
</header>
<router-outlet></router-outlet>
<footer>
  <img src="../assets/img/logo-branco.png">
  <p class="copyrigth" >&copy; Copyrigth Barbearia Alura 2019</p>
</footer>
